body {
  background: -webkit-linear-gradient(90deg, #567599,#1f2e4b);
  background: linear-gradient(90deg, #567599,#1f2e4b);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  border: 0;
  background: #f4f5fb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 2rem;
  box-shadow: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
